* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}
body {
    padding-top: 120px;
}
html {
    scroll-behavior: smooth;
}
nav {
    background-color: rgba(0, 0, 0, .5);
}
#submitAdmin {
    width:80px; 
    height:80px;
    color: #fff;
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    outline: none;
    transform: scale(1);
    border: 3px solid rgb(29, 27, 14);
    font-weight: bold;
    background-color: rgb(100, 19, 73);
    transition: all 0.3s;
}
#submitAdmin:hover {
    color: rgb(230, 208, 19);
    text-shadow: 0 0 8px rgb(250, 225, 0);
    background-color: rgb(160, 6, 6);
    box-shadow: 8px 0 8px rgba(0, 0, 0, .6);    
    transition: all 0.3s;
    font-size: 17px;
}
#submitAdmin:active {
    transform: scale(.94);
}
#imeAdm::placeholder, #passAdm::placeholder { 
    color: red;
    opacity: 1; /* Firefox */
  }
form {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 100px;
}
fieldset {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
}
.hide {
    display: none;
}
.welcome {
    margin-bottom: 50px;
}
#allPatients, #filter {
    display: block;
    width: 140px;
    height: 40px;
    background-color:#139a68;
    border: 3px solid #37043b;
    border-radius: 4px;
    outline: none;
    color: #fff;
    margin: 40px auto;
}
#allPatients:hover{
    background-color: rgb(204, 80, 43);
    color: #fff;
    transition: 0.3s;
}
.patientsTable th,.patientsTable td {
    width: 140px;
    height: 40px;
    border: 1px solid black;
    text-align: center;   
}
.patientsTable tr:hover {
    background-color: rgb(136, 238, 229);
}
table {
    margin-top: 40px;
}
.patientsTable thead tr th {
    border-bottom: 1px solid black;
    background-color: rgb(212, 208, 208);
}
.patientsTable tbody tr th {
    background-color: rgb(212, 208, 208);
}
.expand {
    background-color: rgb(116, 228, 112);
}
.expand:hover {
    background-color: rgb(79, 185, 76); 
    cursor: pointer;
}
.delete {
    background-color: rgb(230, 134, 134); 
}
.delete:hover {
    background-color:rgb(204, 42, 42); 
    cursor: pointer;
}
tr input {
    width: 550px;
    height: 50px;
    padding-left: 25px;
}
.filter input {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid #139a68;
    margin: 5px 0;
    outline: none;
}
.filter input:focus {
    border: 2px solid rgb(204, 80, 43);
    transition: 0.3s;
}
select#usluga, select#stomatolog {
    height: 35px;
    width: 90%;
    margin: 5px 0;
    padding-left: 5px;
    border-radius: 4px;
    outline: none;
}
select#usluga:focus, select#stomatolog:focus {
    border: 2px solid rgb(204, 80, 43);
    transition: 0.3s;
}
.table h3 {
    margin: 20px 70px;
}
.table h4 {
    margin: 100px 70px;
    color:#da1b2a;
    display: none;
}
#filter {
    background-color: rgb(32, 137, 148);
}
#filter:hover {
    background-color: rgb(148, 32, 119);
    transition: 0.5s;
}
/* .filters {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
} */
.box img {
    position: absolute;  
    transform: translate(-50%);
    left: 50%;
    top: 15%;
    margin: auto;
    width: 50px;
    height: 50px;
}
/* input floating placeholder */
.box input {
    padding: 10px 0;
    margin-bottom: 35px;
    font-size: 17px;
    padding-left: 5px;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 2px solid black;
}
.box div {
    position: relative;
}
.box label {
    position: absolute;
    font-size: 17px;
    left: 5px;
    top: 10px;
    transition: .4s;
}
.box input:focus ~ label,
.box input.valid ~ label{
    top: -12px;
    font-size: 12px;
    color: orangered;
    font-weight: bold;
    border: none;
}
.box input:focus { /*.box input.valid     */
    border-bottom: 2px solid orangered;
}