* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}
body {
    padding-top: 120px;
}
html {
    scroll-behavior: smooth;
}
nav {
    background-color: rgba(0, 0, 0, .5);
}
#submitAdmin {
    width:80px; 
    height:80px;
    color: #fff;
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    outline: none;
    transform: scale(1);
    border: 3px solid rgb(29, 27, 14);
    font-weight: bold;
    background-color: rgb(100, 19, 73);
    transition: all 0.3s;
}
#submitAdmin:hover {
    color: rgb(230, 208, 19);
    text-shadow: 0 0 8px rgb(250, 225, 0);
    background-color: rgb(160, 6, 6);
    box-shadow: 8px 0 8px rgba(0, 0, 0, .6);    
    transition: all 0.3s;
    font-size: 17px;
}
#submitAdmin:active {
    transform: scale(.94);
}
input#imeAdm, input#passAdm {
    border: 1px solid rgb(100, 19, 73); 
    border-radius: 5px;
    padding-left: 10px;
    width: 100%;
    height: 50px;
}
input#imeAdm:focus, input#passAdm:focus {
    border: 2px solid rgb(100, 19, 73); 
    width: 100%;
    outline: none;
    transition: 0.15s;
}
#imeAdm::placeholder, #passAdm::placeholder { 
    color: red;
    opacity: 1; /* Firefox */
  }
form {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 30px;
}
fieldset {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
}
.hide {
    display: none;
}
.welcome {
    margin-bottom: 50px;
}
#allPatients, #filter {
    display: block;
    width: 140px;
    height: 40px;
    background-color:#139a68;
    border: 3px solid #37043b;
    border-radius: 4px;
    outline: none;
    color: #fff;
    margin: 40px auto;
}
#allPatients:hover{
    background-color: rgb(204, 80, 43);
    color: #fff;
    transition: 0.3s;
}
.patientsTable th,.patientsTable td {
    width: 140px;
    height: 40px;
    border: 1px solid black;
    text-align: center;   
}
.patientsTable tr:hover {
    background-color: rgb(238, 136, 136);
}
table {
    margin-top: 40px;
}
.patientsTable thead tr th {
    border-bottom: 1px solid black;
    background-color: rgb(212, 208, 208);
}
.patientsTable tbody tr th {
    background-color: rgb(212, 208, 208);
}
.filter input {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid #139a68;
    margin: 5px 0;
    outline: none;
}
.filter input:focus {
    border: 2px solid rgb(204, 80, 43);
    transition: 0.3s;
}
select#usluga, select#stomatolog {
    height: 35px;
    width: 90%;
    margin: 5px 0;
    padding-left: 5px;
    border-radius: 4px;
    outline: none;
}
select#usluga:focus, select#stomatolog:focus {
    border: 2px solid rgb(204, 80, 43);
    transition: 0.3s;
}
.table h3 {
    margin: 20px 70px;
}
.table h4 {
    margin: 100px 70px;
    color:#da1b2a;
    display: none;
}
#filter {
    background-color: rgb(32, 137, 148);
}
#filter:hover {
    background-color: rgb(148, 32, 119);
    transition: 0.5s;
}
/* .filters {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
} */
