* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}
body { 
    display: none;
}
.wrapper {
    width: 100%;    
    min-height: 100vh;    
    background: url(../images/waitingRoom.jpg) no-repeat fixed; 
    background-size: cover;     
   }   
.wrapImg {
    background-color: rgba(0, 0, 0, .6);
    padding-top: 90px; 
    width: 100%;
    min-height: 100vh;  
}
html {
    scroll-behavior: smooth;
}
nav {
    background-color: rgba(0, 0, 0, .5);
}
#submit {
    width:80px; 
    height:80px;
    color: #000;
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    outline: none;
    transform: scale(1);
    border: 1px solid rgb(10, 33, 59);
    font-weight: bold;
    background-image: linear-gradient( rgb(122, 195, 236), #082d5e);   
    transition: all 0.3s;
}
#submit:hover {
    color: rgb(240, 238, 235);
    text-shadow: 0 0 5px rgb(255, 253, 253);;
    background-color: rgb(33, 113, 179);
    box-shadow: 4px 0 8px rgba(129, 130, 133, 0.6);    
    transition: all 0.3s;
    font-size: 17px;
}
#submit:active {
    transform: scale(.94);
}
#ime::placeholder, #pass::placeholder { 
    color: #d4c264c4;
    opacity: 1; /* Firefox */
  }
form {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 100px;
}
fieldset {
    border: 2px solid #ab9f66;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .7);  
}
.hide {
    display: none;
}
.btns a {
    text-decoration: none;
}
#schedule, #userInfo, .confirmBtn {    
    display: block;
    margin: 43px auto;
    width: 150px;
    height: 45px;
    background-image: linear-gradient(45deg,#259077,#122175);
    color: #fff;
    font-size: 17px;
    border: 3px solid rgb(43, 43, 146);
    border-radius: 40px;
    outline: none;
}
#schedule:hover, #userInfo:hover, .confirmBtn:hover{   
    background-color: rgb(79, 79, 207);    
    font-size: 18px;
    color: #dacd25;
    transition: all 0.3s;
    outline: none;
}
.confirmBtn {
    width: 170px;
}
.confirmBtn .fas:hover {
    background-color: transparent;
}
h3 {
    margin: 5px 0;
}
.btns, .userContent {
    margin-top: 150px;
}
.userCont h3, p {
    color: #fff;    
}
.userCont h3 {
  text-align: center;
  margin-bottom: 40px;
}
.userCont {
    margin-top: 40px;
}
.user h1 {
    color: #fff;
    margin: 50px 0;
    text-align: center;
}
.userCont h1 {
    color: #dacd25;
    text-align: center;
}
.userCont p {
    margin: 20px;
    font-size: 18px;
}
.userContent i {
    display: block;
    text-align: center;
    color: #dacd25;
    font-size: 45px;
    padding-bottom: 30px;
}
.userCont .fas:hover {
    background: none;
}
.generateUser {
    position: relative;  
}
.generateUser .patientsTable {
    margin: auto;
    margin-top: 100px;
    border: 2px solid rgb(25, 11, 63);
    border-radius: 2px;
    font-size: 17px;
}
.generateUser .patientsTable input::placeholder {
    color: red;
}
.btnCont .fa-angle-left {    
    display: block;
    margin: auto;   
    font-size: 40px;
    line-height: 40px;
    color: #fff;
}
.back { 
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 45px;
    border-radius: 10px;
    bottom: 40px;  
    background-image: linear-gradient(45deg,#259077,#69aec9);  
    border: 2px solid #122175;
}
.back .fas:hover {
    background: none;
}
.btnCont {
    width: 60%;
    margin: auto;
    position: relative;
}
.patientsTable th, .patientsTable td {
    width: 180px;
    height: 45px;
    border: 1px solid black;
    text-align: left;   
    padding-left: 20px;
}
.patientsTable tbody tr th {
    background-color: rgb(30, 82, 136);
    color:  #dacd25;
}
tr input {
    width: 500px;
    height: 50px;
    padding-left: 25px;
}
.box img {
    position: absolute;  
    transform: translate(-50%);
    left: 50%;
    top: 28%;
    margin: auto;
    width: 50px;
    height: 50px;
}
/* input floating placeholder */
.box input {
    padding: 10px 0;
    margin-bottom: 35px;
    font-size: 17px;
    padding-left: 5px;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.box div {
    position: relative;
}
.box label {
    position: absolute;
    font-size: 17px;
    left: 5px;
    top: 10px;
    transition: .4s;
    color: #fff;
}
.box input:focus ~ label,
.box input.valid ~ label{
    top: -12px;
    font-size: 12px;
    color:#ab9f66;
    font-weight: bold;
    border: none;
}
.box input:focus { 
    border-bottom: 2px solid#ab9f66;
}
@media (min-width: 768px) and (max-width: 992px) { 
    .btnCont {
        width: 100%;
    } 
}
@media (min-width: 992px) and (max-width: 1199px) { 
    .btnCont {
        width: 70%;
    } 
}
@media (max-width: 767px) {
    .userContent {     
        margin-top: 0; 
        padding-bottom: 40px;
    } 
    .btnCont {
        width: 120%;
    }
}
.swal2-icon.swal2-error {
    border-color:#e0c32de0 !important;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: #62b1e0 !important;
}
.swal2-confirm.swal2-styled {
    background-color: #62b1e0 !important; 
}
.swal2-icon.swal2-warning {
    color: #62b1e0 !important;
    border-color:#e0c32de0 !important;
}




