* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
h1, h2 {
    text-align: center;
}
/* refaktorisati */
.Header {
    height: 600px;
    background: url(../images/image.jpg) no-repeat center;
    background-size: cover;
}
.wrap {   
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;   
}
.Header h1 {
    padding: 100px;
    color: #fff;
}
.Header p {
    color: #fff;
}
.Info {
    height: 600px;
    padding-top: 100px;
}
.Galerija {
    height: 700px;
    padding-top: 100px;
}
.Zakazivanje {
    height: 600px;
    padding-top: 300px;
}
.col-md-6 p {
    padding-top: 30px;
}
.login, .schedule {
    width: 140px;
    height: 35px;
    margin: 30px;
}
.Kontakt {
    height: 600px;
    padding-top: 200px;
}
.Footer {
    height: 600px;
    padding-top: 100px;
    background-color: rgb(14, 13, 12);
    color:#ffe600;
}
#scrollTop {
    width: 70px;
    height: 70px;
    border: 2px solid #000;   
    border-radius: 5px;
    background-color: transparent;
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 30px;
}
#scrollTop i {
    color: rgb(177, 34, 41);    
    font-size: 60px;  
}
#scrollTop:hover {
    /* background-color: rgb(218, 205, 30); */
    background-color: #000;
    box-shadow: 0 0 20px #ffe600;
    transition: 0.3s;
}
#scrollTop i:hover {
    color: #ffe600;
    text-shadow: 0 0 8px #ffe600;
    transition: 0.7s;    
}
.navbar {  
    padding: 0;  
}
/* gallery */
/* .gallery {
    height: 612px;
    position: relative;  
} */
.slideImage {
    width: 100%;
    height: 650px;
    position: relative;
    margin: 40px 0 15px 0;
}
.slideImage img {
    width: 100%;
    height: auto;
    position: absolute;
}
.sliderCont {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 30%;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.sliderCont a {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #0f5994;
    margin: 25px 5px;
    background-color: rgb(214, 205, 205);
    cursor: pointer;
}
.slideImage i {
    font-size: 60px;
    padding: 10px;
    border: 2px solid black;
    color: orange;
    /* position: absolute;
    left: 200; */
    z-index: 1;
    display: block;
}
.fa-arrow-right {
    position: absolute;
    transform: translate(0, -50%);
    top: 55%;
    right: 0; 
}
.fa-arrow-left {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;   
}
.fas:hover {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
@media (max-width: 768px) {
    .fa-arrow-right {     
        top: 25%;
    }
    .fa-arrow-left {      
        top: 25%;
    }
    .sliderCont {    
        bottom: 45%;      
     }
}
@media (min-width: 768px) {
    .fa-arrow-right {     
        top: 30%;
    }
    .fa-arrow-left {     
        top: 30%;
    }
    .sliderCont {      
        bottom: 30%;     
     } 
}
@media (min-width: 992px) {
    .fa-arrow-right {      
        top: 45%;
    }
    .fa-arrow-left {       
        top: 45%;
    }
    .sliderCont {     
       bottom: 10%;    
    }
}
@media (min-width: 1200px) {
    .fa-arrow-right {    
        top: 55%;
    }
    .fa-arrow-left {     
        top: 55%;
    }  
    .sliderCont {      
        bottom: -5%;      
     } 
}
