* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1, h2 {
    text-align: center;
}
/* refaktorisati */
.Header {
    height: 100vh;
    background: url(../images/imageHeader.jpg) no-repeat center;   
    background-size: cover;
}
.wrap {   
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;   
}
.Header h1 {
    padding-top: 196px;
    padding-bottom: 40px;
    font-size: 50px;
    color: #fff;
}
.Header p {
    font-size: 18px;
    color: #fff;
}
.Info {
    height: 600px;
}
.Info .image {
    display: block;
    width: 100%;
    height: auto;
}
.infWrap {
    padding-bottom: 55px; 
}
.infoTitle p {
    color: #333;
    font-size: 18px;
    line-height: 28px;    
    text-align: center;
    text-align: justify;
    text-indent: 50px;
}
.infoTitle {
    margin-top: 100px;
    margin-bottom: 60px;
}
.infoTitle h2 {
    margin-bottom: 45px;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
transition: 0.3s;
}
.stomInfo h4, p {
    text-align: center;
    padding-top: 10px;
}
.stomInfo h4 {
    font-weight: bold;
}
.stomatologPodaci {
    display: none;
}
.infowrap {
    text-align: center;
    padding: 15px;
}
.infowrap i {
    float: right;
    transition: 0.2s;
}
.infowrap i:hover {
    background: none;
}
.card:hover i {
    color: rgb(241, 195, 66);    
    transition: 0.2s;
}  
.active1 {
    transform: rotate(180deg);
    color: rgb(66, 241, 188);    
    transition: 0.2s;
}
.stomatologPodaci {
    box-shadow: 0 4px 8px rgb(0, 0, 0,.4);
    position: relative;
}
.stomatologPodaci p {
    padding: 0 50px 50px 50px;
    text-align: justify;
    margin: 0;
    font-size: 18px;
}
.stomatologPodaci h4 {
    padding: 45px 35px 35px;
    margin-left: 15px;
}
.stomatologPodaci i {
    position: absolute;
    border: 1px solid transparent;
    font-size: 18px;
    bottom: 10px;
    right: 10px;
    padding: 10px;
}
.stomatologPodaci i:hover {
    border: 1px solid #c5c5c5;
    color: rgb(241, 195, 66);   
    background: none;
    box-sizing: border-box;
    border-radius: 4px;
} 
.Galerija {
    /* height: 700px; */
    padding-top: 100px;
}
.gallery h2 {
    padding-bottom: 20px;
}
.Zakazivanje {
    /* height: 600px; */
    margin-top: 180px;  
    background-color:#4c70b3;
    color:#fff;
}
.contentSch h2 {    
    margin-bottom: 45px;
}
.contentSch {
    margin-top: 100px;    
}
.contentSch p, .contentSch span {
    text-align: justify;   
    font-size: 18px;
    text-indent: 50px;
}
.choiseDent {
    text-align: center;
    padding-bottom: 30px;
}
.choiseDent h2 {
    margin: 75px 0; 
}
.choiseDent p {
    font-size: 18px;
    text-align: left;
}
.choiseTitle {
    display: flex;
    justify-content: center; 
    height: 36px;
    line-height: 36px;   
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.choiseTitle i {
    font-size: 0px;
    margin-left: -65px;    
}
.choiseTitle .fas:hover {
    background-color: transparent;    
}
.choiseDent p {
    padding-bottom: 20px;
}
/* .choiseTitle .fa-calendar-alt {
    color: rgb(231, 248, 132);
}
.choiseTitle .fa-dollar-sign {
    color: rgb(248, 132, 142);
}
.choiseTitle .fa-cogs {
    color: rgb(132, 244, 248);
} */
.login, .schedule {
    background-image: linear-gradient(45deg,#0077a5, #268e7b);
    color: #fff;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
}
.content a button:hover {
    background-color: #10649e
}
.content a button:active {   
   outline: none;
}
.col-md-6 p {
    padding-top: 30px;
}
.login, .schedule {
    width: 140px;
    height: 40px;
    margin: 30px;
    border: 2px solid rgb(55, 46, 139);
}
#last  {
    padding-bottom: 30px;   
}
.Kontakt {
    /* height: 600px; */
    padding-bottom: 150px;
}
.Kontakt i {
    color: #1c92b5;
}
.Kontakt p {
   font-size: 17px;
}
.contactUs {
    padding-bottom: 35px;
    padding-top: 50px;
}
.Footer {
    height: 300px;
    background-color: rgb(14, 13, 12);   
}
.Footer h5 {
    text-align: center;
    padding: 30px;
    color: #fff;
}
.Footer p {
    color:#ffe600;
    font-size: 12px;
    padding-top: 100px;
}
.social-icons ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;   
}
.social-icons ul li {
    list-style-type: none; 
    padding: 0 10px;
}
.social-icons ul li a {
    text-decoration: none; 
    display: inline-block;
    text-align: center;
    border: 2px solid #9d9d9d;
    font-size: 20px;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    line-height: 41px;
    color: #9d9d9d;
    transition: all .3s;   
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s; 
}
#facebook:hover {    
    border: 2px solid #395599;
    color:  #fff;
}
#instagram:hover {    
    border: 2px solid #6835ba;
    color:  #fff;
}
#youtube:hover {    
    border: 2px solid #f80000;
    color:  #fff;
}
#twitter:hover {
    border: 2px solid  #29a4da;
    color:  #fff;
}
#scrollTop {
    width: 70px;
    height: 70px;
    border: 2px solid rgb(192, 191, 191);   
    border-radius: 5px;
    background-color: transparent;
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 30px;
}
#scrollTop i {
    color: #10649e;    
    font-size: 60px;  
}
#scrollTop:hover {   
    background-color:rgba(0,0,0,0.4);   
    text-shadow: 0 0 8px #ffe600;
    border: 1px solid #ffe600;
    transition: 0.2s;
}
#scrollTop:hover i {
    color: #ffe600;    
    transition: 0.2s;    
}
.navbar {  
    padding: 0;  
}
/* GALLERY */

/* .gallery {
    height: 612px;
    position: relative;  
} */
.slideImage {
    width: 100%;
    height: 650px;
    position: relative;
    margin: 40px 0 15px 0;
    overflow: hidden;
}
.slideImage img {
    width: 100%;
    height: auto;
    position: absolute;  
}
.sliderCont {
    position: relative;    
    width: 30%;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;  
    z-index: 2;
}
.sliderCont a {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #0f5994;
    margin: 25px 5px;
    background-color: rgb(214, 205, 205);
    cursor: pointer;
}
.slideImage i {
    font-size: 60px;
    padding: 10px;
    border: 1px solid rgb(95, 95, 95);
    color:rgb(18, 153, 183);
    margin: 0;
    /* position: absolute;
    left: 200; */
    z-index: 1;
    display: block;
}
.fa-angle-right {
    position: absolute;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    width: 60px;
    text-align: center;
    top: 55%;
    right: 0; 
}
.fa-angle-left {
    position: absolute;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    width: 60px;
    text-align: center;
    top: 50%;
    left: 0;   
}
.slideImage .fa:hover {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
@media (max-width: 768px) {
    .fa-angle-right {     
        top: 25%;
    }
    .fa-angle-left {      
        top: 25%;
    }
    .sliderCont {    
        bottom: 45%;      
    }
    .contactUs {       
        padding-top: 0;
    }
    .choiseTitle {
        justify-content: flex-start;
    }  
    .choiseTitle i{
        margin: 0;
        padding-right: 30px;
    }    
    .Zakazivanje {       
        margin-top: -200px; 
    }  
    .card {
        width:70%;
        margin: auto;
    }
    .infWrap {
        padding-bottom: 45px; 
    }
}
@media (min-width: 768px) {
    .fa-angle-right {     
        top: 30%;
    }
    .fa-angle-left {     
        top: 30%;
    }
    .sliderCont {      
        bottom: 30%;     
     }      
}
@media (min-width: 992px) {
    .fa-angle-right {      
        top: 45%;
    }
    .fa-angle-left {       
        top: 45%;
    }
    .sliderCont {     
       bottom: 10%;    
    }    
}
@media (min-width: 1200px) {
    .fa-angle-right {    
        top: 55%;
    }
    .fa-angle-left {     
        top: 55%;
    }  
    .sliderCont {      
        top: 0;      
     } 
}
@media (max-width: 500px) {
    .Zakazivanje {       
        margin-top: -250px; 
    }   
     .gallery .fa-angle-left {
         visibility: hidden;
     } 
     .gallery .fa-angle-right  {
        display: none !important;
    }   
    .sliderCont {
        display: none;
    }
}
@media (max-width: 400px) {
    .Zakazivanje {       
        margin-top: -350px; 
    }   
}
@media (min-width: 992px) and (max-width: 1200px) {     
    .Zakazivanje {       
        margin-top: 80px; 
    }
}
@media (min-width: 768px) and (max-width: 992px) { 
    #dr1 h4 {
        height: 67px;
        line-height: 67px
    }
    .Zakazivanje {       
        margin-top: -80px; 
    }
}
