* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
body {
    padding-top: 90px;
    display: none;
}
nav {
    background-color: rgba(0, 0, 0, .5);
}
form {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 40px;
    /* background-color: #498f92; */
    background-image: linear-gradient(45deg,#0077a5, #268e7b);
}
fieldset {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}
.ds select {
    height: 35px;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 18px;
}
#error {
    height: 25px;
    visibility: hidden;
    color:rgb(251, 255, 0);
    font-size: 18px;
}
#ime1::placeholder, #prezime1::placeholder,
#email1::placeholder, #phone::placeholder,
#passUser::placeholder,#confPass::placeholder,
#username::placeholder { 
    color: rgb(251, 255, 0);
    opacity: 1; /* Firefox */
  }
input#date {
    width: 90%;
}
.time {
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 35px;   
}
.disableBtn {
    pointer-events: none;
    text-decoration: line-through;
    background-color: aquamarine;
}
/* multy Line form */

.wrap1 {   
    margin: 30px auto;
    text-align: center;
}
.wrap1 h1 {
    margin-bottom: 50px;
}
.multyLine {
    position: relative;   
} 
.wrapDates .userData {   
    width: 100%;
} 
.wrapDates label {
    color: #fff;
    font-size: 18px;
}
#ul {
    counter-reset: step;
}
#ul li {
    list-style-type: none;
    width: 25%; /*33.3%*/
    float: left;
    position: relative;
    margin-bottom: 40px;
}
#ul li:before {
    content: counter(step);
    counter-increment: step;
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px auto;
    transform: translate(0,-50%);
    line-height: 30px;
    /* border: 2px solid rgb(19, 78, 19); */
    border-radius: 50%;
    background-color: rgb(201, 195, 195);    
    transition: 0.3s;
}
#ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:rgb(201, 195, 195);
    left: -50%;
    top: 4px;
    z-index: -1;
    transition: 0.3s;
}
#ul li:first-child:after {
    content: none;
}
#ul li.active:before, #ul li.active:after{
    background-color: rgb(44, 179, 116);
    color: #fff;
    transition: 0.3s;
}
/* prev and next buttons */
.prev, .next {
    position: absolute;
    width: 100px;
    height: 40px;
    /* outline: none; */
    border-radius: 10px; 
    border: 3px solid #000; 
    font-weight: bold;
    background-color: #921818;
    color: #fff;
}
.prev:hover, .next:hover {
    background-color: #6d1313;
  
}
.prev:active, .next:active {
    transform: scale(.94);
    transition: 0.3s;   
}
.prev {
    bottom: 30px;
    left: 60px;
}
.next {
    bottom: 30px;
    right: 60px;
}
/* time buttons */
.cont {
    display: inline-block;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px; 
    position: relative;
    border: 2px solid #c5b1b1;
    border-radius: 35px;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.check {
    position: absolute;
    top: 10px;
    left: 25px;
    height: 18px;
    width: 18px;
    background-color:rgb(207, 204, 204);  
    border-radius: 5px;
}
.cont:hover input ~ .check {
    background-color:rgb(136, 133, 133);
    transition: 0.25s;
}
.cont:hover {
    border: 2px solid rgb(190, 10, 10); 
    font-size: 22px;
    transition: 0.25s;
}
.cont input:checked ~ .check {
    background-color: rgb(220, 228, 106);
}
.check:after {
    content: "";
    position: absolute;
    display: none;    
}
.cont input:checked ~ .check:after {
    display: block;
}
.cont .check:after {
    background-color: #000;
    top: 4px;
    left: 4px;
    height: 10px;
    width: 10px;
    border-radius: 4px;
}
#dateTime {    
    width: 30%;
    height: 40px;
    display: block;
    margin: 10px auto;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    border-radius: 4px;    
    border: 2px solid rgb(53, 23, 23);
    background-color: rgb(236, 234, 234);
}
/* input floating placeholder */
.box input {
    padding: 10px 0;
    margin-bottom: 35px;
    font-size: 17px;
    padding-left: 5px;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 2px solid#0e1427;    
    background: transparent;
    color: #fff;
}
.box div {
    position: relative;
}
.box label {
    position: absolute;
    font-size: 17px;
    left: 5px;
    top: 10px;
    transition: .4s;
    color: #fff;
}
.box input:focus ~ label,
.box input.valid ~ label {
    top: -12px;
    font-size: 12px;
    color: rgb(233, 145, 30);
    font-weight: bold;
    border: none;
}
.box input:focus { /*.box input.valid     */
    border-bottom: 2px solid rgb(233, 145, 30);
}
.box input:-moz-selection { /* Code for Firefox */
    background: rgb(6, 73, 112);
}
  
.box input::selection {  
    background: rgb(6, 73, 112);
}