* {
    margin: 0;
    padding: 0;    
}
body {
    padding-top: 90px;
}
form {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: 40px;
}
fieldset, .wrapDates {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
}
select {
    height: 30px;
    border-radius: 4px;
}
.userData input {
    border: 1px solid rgb(15, 78, 129);
    border-radius: 5px;
    padding-left: 10px;
    height: 40px;
    outline: none;
}
input#date {
    width: 90%;
}

#dateTime {
    width: 30%;
    height: 40px;
    display: block;
    margin: 10px auto;
    color: #000;
}
.time {
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 35px;   
}
.time button {   
    width: 150px;
    height: 30px;
    margin: 0 5px;
}

/* prev and next buttons */
.prev, .next {
    position: absolute;
    width: 100px;
    height: 40px;
    outline: none;
    border-radius: 10px; 
    border: 3px solid rgb(138, 30, 30); 
    font-weight: bold;
    background-color:#a50a0ae3;
    color: #fff;
}
.prev:active, .next:active {
    transform: scale(.94);
    transition: 0.3s;
    outline: none;
}
.prev {
    bottom: 30px;
    left: 60px;
}
.next {
    bottom: 30px;
    right: 60px;
}